<a class="dropdown-item" href="{{ path('setono_sylius_feed_admin_feed_update', {'id': hookable_metadata.context.resource.id}) }}">
    {{ ux_icon('tabler:pencil', {'class': 'icon dropdown-item-icon'}) }}
    {{ 'sylius.ui.edit'|trans }}
</a>
