<a class="dropdown-item" href="{{ path('setono_sylius_feed_admin_feed_process', {'id': hookable_metadata.context.resource.id}) }}">
    {{ ux_icon('tabler:reload', {'class': 'icon dropdown-item-icon'}) }}
    {{ 'setono_sylius_feed.ui.generate_feed'|trans }}
</a>
